.title,
.intro,
.description {
  color: white;
}

.title {
  margin-bottom: 30px;
  font-size: 36px;
}

.intro {
  margin-bottom: 0;
  font-size: calc(21px + 1.5vw);
}

.description {
  font-size: calc(16px + 0.5vw);
}

.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(30, 42, 66);
  color: white;
  padding: 16px;
}

.home > h1 {
  font-size: calc(42px + 1.5vw);
}

.home > p {
  font-size: calc(21px + 1.25vw);
}

.section {
  display: flex;
  background-color: blueviolet;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border: 5px solid black;
  padding: 30px;
}
