@import 'node_modules/pixel-borders/src/styles/pixel-borders/pixel-borders-mixins';

@mixin pixel-profile(
  $corner-size: 1,
  $border-size: 4px,
  $border-color: #000,
  $border-inset-color: #ddd
) {
  @supports (border-image-source: none) {
    border-radius: ($border-size * ($corner-size + 2)) + ($corner-size * 2);
  }

  border-style: solid;
  border-width: $border-size;
  border-color: $border-color;

  border-image-slice: $corner-size * 2;
  border-image-width: $corner-size;
  border-image-outset: 0;
  border-image-source: url(pixel-borders-image($corner-size, $border-color));

  &::after {
    @include pixel-borders(
      $corner-size: 1,
      $border-size: $border-size,
      $border-color: $border-inset-color
    );

    content: '';
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 0;
    border-image-width: 0 1 1 0;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
  }
}

.profile {
  display: flex;
  @include pixel-profile(2, 7px, black, rgb(75, 121, 122));
  position: relative;
  width: 60vw;
  background-color: cadetblue;
}

.column {
  flex-direction: column;
  padding: 32px 24px 16px;
}

.left {
  border-right: solid 3.5px rgb(75, 121, 122);
}

.right {
  width: stretch;
}

.section {
  margin-bottom: 16px;
}

.image {
  @include pixel-borders(1, 5px);
  image-rendering: pixelated;
  width: 320px;
  height: 320px;
  position: relative;
}

.title {
  font-size: 32px;
  margin: 0;
}

.subtitle {
  font-size: 24px;
  margin: 16px auto 0 auto;
}

.title,
.subtitle {
  @include pixel-borders(1, 5px);
  font-family: Superscript;
  padding: 12.8px;
  text-align: center;
  height: fit-content;
  width: fit-content;
  background-color: rgb(96, 162, 206);
}

.paragraph {
  font-size: 12px;
  margin: 0;
  padding: 16px 8px 0px 16px;
}

.icon {
  @include pixel-borders(1, 5px);
  width: 64px;
  height: 64px;
}
