.projects {
  display: flex;
  gap: 6px;
}

.project {
  border: 2px solid black;
  border-radius: 6px;
  padding: 6px;
}

.image {
  width: 330px;
  aspect-ratio: 1.75 / 1;
  position: relative;
  background-color: none;
}

.description {
  font-size: 12px;
}

.links {
  display: flex;
  gap: 6px;
}

.link {
  border-radius: 6px;
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 6px;
  background-color: black;
}
