.card {
  background-color: aliceblue;
  display: flex;
  border-radius: 10px;
  padding: 14px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image {
  position: relative;
  width: 25vw;
  height: 14.4vw;
}

.links {
  display: flex;
  flex-direction: row;
}

.links > button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 10px 0 10px;
  background-color: gray;
  border-radius: 5px;
  border: 2px solid black;
  padding: 6px;
  font-size: 16px;
  font-weight: bold;
}

.links > button > span {
  margin-left: 6px !important;
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 800;
}

.item:not(:last-child) {
  margin-right: 30px;
}

.item {
  display: block;
  float: left;
}
